.Nav-Bar {
    background-color: var(--accent-color-dark);

}

.Nav-Icon {
    font-family: 'Big Shoulders Inline Display', cursive;
    width: 600px;
    color: #9B9999;
    padding: 10px 10px;
    font-size: 2rem;
}

