

  .card-container .card{
    background:#fff;
    text-align: center;
    width:28rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
  }
  
 .card-container .card img{
   
    height:20rem;
    width:100%;
    margin: -4px;
    padding: 0;
  }
  .card-footer {
    background: plum;
    justify-content: space-between;
    
  }

  
.card-container .card p{
    font-size: 1rem;
     display: -webkit-box;
     background: plum;
     color: white;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

.icon {
    height: 50px !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
    width: 50px !important;
}
.bookmark-register {
    justify-content: space-between;
}
.card-button {
    height: 80px;
   justify-content: center;
   font-size: 16px;
}